html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}

#coin {
  position: fixed;

  left: 50%;
  top: 50%;

  width: 40mm;
  height: 40mm;

  transform: translate(-50%, -50%);

  display: block;

  object-fit: contain;

  touch-action: none;
  -webkit-user-drag: none;
  user-select: none;

  z-index: 9999;
}
