html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    touch-action: none;
}

#coin {
    position: absolute;
    width: 100mm;
    height: 100mm;

    display: none;

    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;

    object-fit: contain;
}
